.counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;
  }
  
  .state-practice span {
    margin-right: 10px;
  }
  
  .state-practice h4 {
    text-decoration: underline;
  }
  
  .state-practice p {
    font-size: 15px;
    font-style: italic;
  }